/*
  Name: Dre Woolston
  Date: 9/14/21
  Assignment: Fit for Fun Fitness Club
*/
div {
  border-style: solid;
  border-width: thin;
  border-color: black;
}
html {
  background-color: tomato;
  border-style: solid;
  border-width: thick;
}
.a {
  border-style: solid;
  border-spacing: 20px;
  border-width: medium;
}
h1 {
  text-align: center;
  color: black;
  font-family: 'Times New Roman'
}
